<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.pblog.mapper.ArticleMapper">

    <resultMap id="Author" type="User">
        <id column="author_id" property="id"/>
        <result property="name" column="name"/>
        <result property="avatar" column="avatar"/>
    </resultMap>
    <resultMap id="articleAuthor" type="Article">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="createTime" column="create_time"/>
        <result property="category" column="category"/>
        <result property="viewCounts" column="view_counts"/>
        <result property="commentCounts" column="comment_counts"/>
        <result property="content" column="content"/>
        <association property="author" javaType="User" resultMap="Author"/>
    </resultMap>
    <resultMap id="commentsAuthor" type="ArticleComment">
        <id column="id" property="id"/>
        <result property="content" column="content"/>
        <result property="commentTime" column="comment_time"/>
        <association property="commentAuthor" javaType="User" resultMap="Author"/>
    </resultMap>
    <resultMap id="replyAuthor" type="CommentReply">
        <id column="id" property="id"/>
        <result property="content" column="content"/>
        <result property="replyTime" column="reply_time"/>
        <association property="replyAuthor" javaType="User" resultMap="Author"/>
    </resultMap>

    <select id="findAll" resultMap="articleAuthor">
        SELECT a.id, title, u.id author_id, u.name, u.avatar, category, create_time, view_counts, comment_counts
        FROM t_article a,t_user u
        WHERE a.author_id = u.id
    </select>

    <select id="getArticleById" resultMap="articleAuthor">
        SELECT a.id, title, category, u.id author_id, u.name, u.avatar, content, create_time, view_counts, comment_counts
        FROM t_article a,t_user u
        WHERE a.author_id = u.id AND a.id = #{id}
    </select>

    <select id="getComments" resultMap="commentsAuthor">
        SELECT c.id, c.content, c.comment_time, u.id AS author_id, u.name, u.avatar
        FROM t_user u
        JOIN t_comments c ON c.author_id = u.id
        WHERE c.id IN (
            SELECT comment
            FROM t_article_comment_reply
            WHERE article = #{id}
        );
    </select>
    <select id="getArticleByCategory" resultMap="articleAuthor">
        SELECT a.id, title, category, u.id author_id, u.name, u.avatar, content, create_time, view_counts, comment_counts
        FROM t_article a,t_user u
        WHERE a.author_id = u.id AND category = #{category}
    </select>
    <select id="getReply" resultMap="replyAuthor">
        SELECT cr.id, content, reply_time, u.id author_id, u.name, u.avatar
        FROM t_comment_reply cr
                 JOIN t_user u ON cr.author_id = u.id
        WHERE cr.id IN(
            SELECT reply
            FROM t_article_comment_reply
            WHERE COMMENT = #{id}
        )
    </select>
    <insert id="addComment" parameterType="ArticleComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_comments(content, author_id, comment_time)
        VALUES (#{content}, #{commentAuthor.id}, CURRENT_TIMESTAMP)
    </insert>
    <insert id="addCommentReply" parameterType="CommentReply" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_comment_reply(content, author_id, reply_time)
        VALUES (#{content}, #{replyAuthor.id}, CURRENT_TIMESTAMP)
    </insert>
    <insert id="addArticle" parameterType="Article">
        insert into t_article(title, content, author_id, category, create_time, view_counts, comment_counts)
        values (#{title}, #{content}, #{author.id}, #{category}, CURRENT_TIMESTAMP, 0, 0)
    </insert>
    <select id="findByUserName" resultMap="articleAuthor">
        SELECT a.id, title, u.id author_id, u.name, u.avatar, category, create_time, view_counts, comment_counts
        FROM t_article a,t_user u
        WHERE a.author_id = u.id AND u.id = #{userId}
    </select>

</mapper>
