<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.pblog.mapper.UserMapper">
    <select id="getUser" resultType="User">
        select id, name, avatar, email
        from t_user where name=#{name}
    </select>
</mapper>
